@import url("https://fonts.googleapis.com/css?family=Inter");

/* ========================== THEME SETTINGS ========================== */

// default | light | dark
$preset: default;

// Background
$background: dynamic; // dynamic | any color | or custom image using "url('yourimage.url.here')"
$bg-brightness: null; // null = use preset unless user provides a value
$bg-blur: 0.6;
$bg-saturate: 1.5;
$bg-scale: 1.2;
$player-page-opacity: 1; // background transparency in player page

// Layout | null = use preset unless user provides a value
$font: "Inter"; // values: "font1", "font2"
$font-weight: 400;
$text-color-1: white; // primary
$text-color-2: rgba(white, 0.7); // secondary
$icon: white;
$accent: white;
$accent-icon: white;
$accent-hover: mix($accent, white, 70%);

$layout-color: null;
$layout-contrast: null; // contrast for elements on top of others
$layout-highlight: null; // ui highlight (e.g., hover, selected)
$button-color: null;
$button-highlight: null; // button highlight (e.g., hover, selected)
$layout-blur: 10px; // backdrop blur for glass effect
$layout-border: transparent; // values: thickness style color
$button-border: transparent; // values: thickness style color
$drop-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); // values: x-offset y-offset blur-radius color

// Music
$centered-playback-controls: off;
$increment-skip-buttons: off;
$lyrics-font-weight: 500;
$lyrics-font-size: 30px;
$album-art-size: 400px;
$small-video: off; // revert back to small video in player page
$unified-artists-lines: off; // use one text alignment for all singers

// Border Radius
$radius-art: 8px; // art border radius
$radius-art-medium: 16px;
$radius-art-big: 24px;
$radius-button: 12px; // button border radius
$radius-button-alt: 16px;
$radius-highlight: 8px; // hover or select border radius
$radius-highlight-big: 12px;
$radius-panel: 12px; // panel border radius (e.g., popup, dropdown)
$radius-panel-big: 24px;

// Animations
$bg-transition: on; // fade transition when song switches
$bg-duration: 0.3s;
$bg-timing: ease-in-out;

$player-page: on; // player page related animations
$player-page-duration: 0.65s;
$player-page-timing: cubic-bezier(0.3, 0.6, 0.5, 1);

$fade: on; // smooth fade transitions for elements (e.g., highlight, show/hide)
$fade-duration: 0.3s;
$fade-duration-alt: 0.5s;
$fade-timing: ease;

$play-button: on; // play button hover animation
$play-button-duration: 0.3s;
$play-button-timing: ease;

$sliding-drawer: off; // side drawer open/close animation
$sliding-duration: 0.3s;
$sliding-timing: ease;

$search-bar: off; // search bar open/collapse animation
$search-bar-duration: 0.3s;
$search-bar-timing: ease;

$smooth-progress-bar: on; // sweeping progress bar
$extra-animations: off; // expanding description

$no-lyrics-centered-player: on; // center player when no lyrics in fullscreen
$no-lyrics-duration: 0.3s;
$no-lyrics-timing: ease-in-out;
$no-lyrics-slide-delay: 1.8s;

$lyric-scroll-duration: 0.5s; // duration of lyric line scroll
$lyric-scroll-timing: ease-in-out;

// Presets
$theme-presets: (
  default: (
    bg-brightness: 0.7,
    layout-color: transparent,
    layout-contrast: rgba(255, 255, 255, .1),
    layout-hover: rgba(255, 255, 255, .1),
    button-color: rgba(255, 255, 255, .1),
    button-hover: rgba(255, 255, 255, .2)
  ),
  dark: (
    bg-brightness: 0.5,
    layout-color: rgba(0, 0, 0, .2),
    layout-contrast: rgba(255, 255, 255, .1),
    layout-hover: rgba(255, 255, 255, .1),
    button-color: rgba(255, 255, 255, .1),
    button-hover: rgba(255, 255, 255, .2)
  ),
  light: (
    bg-brightness: 0.8,
    layout-color: rgba(255, 255, 255, .07),
    layout-contrast: rgba(255, 255, 255, .15),
    layout-hover: rgba(255, 255, 255, .15),
    button-color: rgba(255, 255, 255, .15),
    button-hover: rgba(255, 255, 255, .25)
  )
);

$theme-map: map-get($theme-presets, $preset);
$final-bg-brightness: if($bg-brightness != null, $bg-brightness, map-get($theme-map, bg-brightness));

/* ==================================================== */
yt-formatted-string, input, label, button, h2, tp-yt-paper-item, #title, #icon-label, .ytmusic-player-bar, .dialog-title, .title, .subtitle, .tab-content, .promo-title, [role="text"] {
  font-family: $font !important;
  font-weight: $font-weight !important;
}

html, #items, #tab-renderer, #chips, ytmusic-menu-popup-renderer, .ytmusicMultiPageMenuHost, .scrollable-content, .scroller, .dropdown-content, .ytmusic-settings-page {
  scrollbar-width: none !important;
}

:root {
  --album-art-size: $album-art-size;
  --bg-scale: $bg-scale;
  --bg-blur: calc($bg-blur * 100px);
  --bg-brightness: if($final-bg-brightness != null, $final-bg-brightness, 0.7);
  --bg-saturate: $bg-saturate;
  --player-page-opacity: $player-page-opacity;

  --text-color-1: $text-color-1;
  --text-color-2: $text-color-2;
  --icon: $icon;
  --accent: $accent;
  --accent-icon: $accent-icon;
  --accent-hover: $accent-hover;

  --layout-color: if($layout-color != null, $layout-color, map-get($theme-map, layout-color));
  --layout-contrast: if($layout-contrast != null, $layout-contrast, map-get($theme-map, layout-contrast));
  --layout-highlight: if($layout-highlight != null, $layout-highlight, map-get($theme-map, layout-hover));
  --button-color: if($button-color != null, $button-color, map-get($theme-map, button-color));
  --button-highlight: if($button-highlight != null, $button-highlight, map-get($theme-map, button-hover));
  --layout-blur: $layout-blur;
  --layout-border: $layout-border;
  --button-border: $button-border;
  --drop-shadow: $drop-shadow;

  --radius-art: $radius-art;
  --radius-art-medium: $radius-art-medium;
  --radius-art-big: $radius-art-big;
  --radius-button: $radius-button;
  --radius-button-alt: $radius-button-alt;
  --radius-highlight: $radius-highlight;
  --radius-highlight-big: $radius-highlight-big;
  --radius-panel-big: $radius-panel-big;
  --radius-panel: $radius-panel;

  --bg-duration: $bg-duration;
  --bg-timing: $bg-timing;

  --player-page-duration: $player-page-duration;
  --player-page-timing: $player-page-timing;

  --fade-duration: $fade-duration;
  --fade-duration-alt: $fade-duration-alt;
  --fade-timing: $fade-timing;

  --play-button-duration: $play-button-duration;
  --play-button-timing: $play-button-timing;

  --silding-duration: $sliding-duration;
  --sliding-timing: $sliding-timing;

  --search-bar-duration: $search-bar-duration;
  --search-bar-timing: $search-bar-timing;

  --no-lyrics-slide-delay: $no-lyrics-slide-delay;
  --no-lyrics-duration: $no-lyrics-duration;
  --no-lyrics-timing: $no-lyrics-timing;

  --blyrics-lyric-scroll-duration: $lyric-scroll-duration;
  --blyrics-lyric-scroll-timing-function: $lyric-scroll-timing;

  --ytmusic-text-primary: $text-color-1;
  --ytmusic-overlay-text-secondary: $text-color-2;

  --blyrics-font-family: $font;
  --blyrics-font-weight: $lyrics-font-weight;
  --blyrics-font-size: $lyrics-font-size;
  --blyrics-footer-font-family: $font;
  --blyrics-footer-font-weight: $font-weight;
}

/* ========================== TEXT & ICONS ========================== */
yt-formatted-string.title {
  color: var(--text-color-1) !important;
  --yt-endpoint-color: var(--text-color-1) !important;
  --yt-endpoint-hover-color: var(--text-color-1) !important;
  --yt-endpoint-visited-color: var(--text-color-1) !important;
}

yt-icon {
  color: var(--icon);
}

yt-icon.ytmusic-inline-badge-renderer {
  color: var(--accent-icon);
}

/* Icons in explore top songs  */
.icon-column.ytmusic-custom-index-column-renderer .yt-icon-shape {
  color: var(--icon);
}

.icon.ytmusic-play-button-renderer {
  --ytmusic-play-button-guide-icon-color: var(--icon);
  color: var(--icon);
}

/* CTA Text */
a.yt-simple-endpoint.yt-formatted-string {
  --yt-spec-call-to-action: var(--accent);
  --yt-endpoint-hover-color: var(--accent-hover);
  &:hover {
    text-decoration: underline;
  }
}

/* Like Dislike 3 Dots */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
  color: var(--icon);
}

.index.ytmusic-responsive-list-item-renderer {
  color: var(--text-color-2);
}

/* Like buttons pressed */
.yt-spec-button-shape-next[aria-pressed="true"] {
  color: var(--accent-icon);
}

tp-yt-paper-ripple.tp-yt-paper-tab {
  color: transparent;
}

.stroke.yt-interaction,
.fill.yt-interaction {
  border: 0;
  background: transparent;
}

/* ========================== ART ========================== */
/* Background Behind Art */
ytmusic-player {
  background: transparent;
}

ytmusic-responsive-list-item-renderer {
  --ytmusic-list-item-height: 54px;
  --ytmusic-responsive-list-item-thumbnail-size: 38px;
}

ytmusic-background-overlay-renderer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 80%);
}

ytmusic-item-thumbnail-overlay-renderer:not([play-button-state="default"]) {
  #background.ytmusic-item-thumbnail-overlay-renderer {
    opacity: 0 !important;
  }
  &:hover #background.ytmusic-item-thumbnail-overlay-renderer {
    opacity: 1 !important;
  }
}

ytmusic-responsive-list-item-renderer[is-album-detail-page] ytmusic-background-overlay-renderer {
  background: transparent;
}

/* Playing/Selected Overlay */
ytmusic-responsive-list-item-renderer[play-button-state] {
  border-radius: var(--radius-art);
}

ytmusic-play-button-renderer:not([state="default"]) .content-wrapper .yt-icon-shape {
  color: var(--accent-icon);
}

/* Playlist Page Art */
ytmusic-responsive-header-renderer {
  --yt-img-border-radius: var(--radius-art-big);
}

#header-group #img {
  border-radius: 50%;
}

/* Small Art */
yt-img-shadow[object-fit="CONTAIN"] img,
ytmusic-player[player-ui-state="PLAYER_BAR_ONLY"] #img,
.thumbnail-overlay {
  border-radius: var(--radius-art);
  object-fit: cover !important;
  overflow: hidden;
}

/* Player Page Art */
ytmusic-player[player-page-open] .player-wrapper,
ytmusic-two-row-item-renderer .image-wrapper {
  border-radius: var(--radius-art-big);
}

#player:not([player-ui-state="PLAYER_BAR_ONLY"]) {
  border-radius: var(--radius-art-big);
  box-shadow: var(--drop-shadow) !important;
  overflow: hidden;
}

ytmusic-player[player-ui-state] #song-media-window {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 40%);
  border-radius: var(--radius-art-big);
}

ytmusic-player[player-ui-state="PLAYER_BAR_ONLY"] {
  .html5-video-player,
  .video-stream {
    background: transparent;
    border-radius: var(--radius-art-medium);
  }
}

@media (min-width: 615px) {
  ytmusic-player-page:not([video-mode]):not([player-fullscreened]):not([blyrics-dfs]):not([player-ui-state="MINIPLAYER"]) #player {
    max-width: var(--album-art-size) !important;
  }
}

#top-shelf .image-wrapper {
  border-radius: var(--radius-art-medium);
}

/* ========================== BACKGROUND ========================== */
#browse-page::before,
#search-page::before {
  content: "";
  position: fixed;
  inset: 0;
  height: 120vh;
  background: if($background == dynamic, var(--blyrics-background-img), $background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(var(--bg-scale));
  z-index: -50;
  filter: blur(var(--bg-blur)) saturate(var(--bg-saturate)) brightness(var(--bg-brightness));
}

@if $bg-transition == on {
  #browse-page::before,
  #search-page::before,
  ytmusic-player-page::before,
  ytmusic-player-page[is-mweb-modernization-enabled] #main-panel::before {
    transition: background var(--bg-duration) var(--bg-timing);
    will-change: background;
  }
}

/* Background Fix */
.background-gradient {
  background: none !important;
}
ytmusic-fullbleed-thumbnail-renderer[is-background] .image {
  mask-image: linear-gradient(transparent);
}

@media (min-width: 615px) {
  ytmusic-player-page {
    background: none;
  }
  ytmusic-player-page::before {
    background: if($background == default, var(--blyrics-background-img), $background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(var(--bg-blur)) saturate(var(--bg-saturate)) brightness(var(--bg-brightness));
    transform: scale(var(--bg-scale));
    opacity: var(--player-page-opacity);
  }
}

/* Transparent Player Page */
ytmusic-player-page:not([is-mweb-modernization-enabled]) {
  background: none !important;
  backdrop-filter: blur(15px);
}
ytmusic-app-layout[player-page-open]:not([is-mweb-modernization-enabled]) > #content {
  visibility: visible !important;
}
ytmusic-app-layout[player-fullscreened] > [slot=content] {
  display: block;
}

/* ========================== HOMEPAGE ========================== */
ytmusic-app-layout > [slot=player-bar] {
  width: 100vw;
}

/* Title */
.strapline.ytmusic-shelf-renderer,
.ytmusicCardShelfHeaderBasicRendererStrapline,
.strapline.ytmusic-carousel-shelf-basic-header-renderer {
  color: var(--accent);
}

/* Nav Bar */
#nav-bar-background.ytmusic-app-layout,
ytmusic-app-layout.content-scrolled #nav-bar-divider {
  opacity: 1;
  backdrop-filter: blur(var(--layout-blur));
  background: var(--layout-color);
  border-bottom: var(--layout-border) !important;
  border-top: 0 !important;
}

ytmusic-app-layout[is-bauhaus-sidenav-enabled].content-scrolled,
ytmusic-app-layout[is-bauhaus-sidenav-enabled][player-page-open] {
  #mini-guide-background.ytmusic-app-layout {
    opacity: 0;
  }
}

/* Drawer */
ytmusic-app[is-bauhaus-sidenav-enabled] #guide-wrapper.ytmusic-app {
  background: var(--layout-color);
  padding: 2px;
  border-right: var(--layout-border);
  backdrop-filter: blur(var(--layout-blur));
}

#layout[player-page-open] {
  #guide-wrapper {
    background: var(--layout-color) !important;
    border-right: var(--layout-border) !important;
  }
  #nav-bar-background {
    background: var(--layout-color) !important;
    border-bottom: var(--layout-border) !important;
  }
}

tp-yt-paper-item.ytmusic-guide-entry-renderer:hover {
  background: var(--layout-highlight);
}

#divider {
  border: 0 !important;
}

/*Drawer hover play button */
ytmusic-guide-entry-renderer #play-button.ytmusic-guide-entry-renderer {
  background: transparent !important;
}

ytmusic-guide-entry-renderer .content-wrapper.ytmusic-play-button-renderer {
  background: transparent;
}

/* New Playlist Button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
  background: var(--button-color);
  border: var(--button-border);
  color: var(--accent);
  border-radius: var(--radius-button-alt);
  &:hover {
    background: var(--button-highlight);
    border: var(--button-border);
  }
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}

/* Search Box */
ytmusic-search-box .search-box {
  border-radius: var(--radius-panel) !important;
  background: var(--layout-contrast) !important;
  border: var(--layout-border) !important;
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}
input.ytmusic-search-box {
  color: var(--text-color-2);
}
ytmusic-search-box[has-query] input.ytmusic-search-box,
ytmusic-search-box[opened] input.ytmusic-search-box {
  color: var(--text-color-1);
  &::placeholder {
    color: var(--text-color-1);
  }
}
.search-container.ytmusic-search-box {
  border-radius: var(--radius-panel);
}
ytmusic-search-box[has-query] .search-container.ytmusic-search-box,
ytmusic-search-box[opened] .search-container.ytmusic-search-box {
  border-radius: var(--radius-panel);
  background: transparent !important;
  box-shadow: var(--drop-shadow);
}

ytmusic-search-box #suggestion-list {
  top: 0;
  opacity: 0;
  visibility: hidden;
  display: initial !important;
  border-radius: var(--radius-panel) !important;
  background: var(--layout-color) !important;
  box-shadow: var(--drop-shadow);
  border: var(--layout-border) !important;
  backdrop-filter: blur(var(--layout-blur)) !important;

  ytmusic-search-suggestions-section {
    background: transparent !important;

    ytmusic-search-suggestion {
      background: transparent !important;
      color: var(--text-color-1);
      border-radius: var(--radius-panel);
      &:hover {
        background: var(--layout-highlight) !important;
        color: var(--text-color-1);
      }
    }
  }
}

ytmusic-search-box[opened] #suggestion-list {
  top: calc(var(--ytmusic-search-box-height) + 16px) !important;
  opacity: 1;
  visibility: visible;
}

#suggestions .ytmusic-search-suggestions-section {
  border-radius: var(--radius-highlight);
}

/* Carousel Buttons */
yt-icon-button.ytmusic-carousel-shelf-renderer,
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline {
  background: var(--button-color);
  border: var(--button-border);
  color: var(--text-color-1);
  border-radius: var(--radius-button-alt);
  &:hover {
    background: var(--button-highlight);
  }
}

/* Big Persistent Play Button To Small */
ytmusic-play-button-renderer[size="MUSIC_PLAY_BUTTON_SIZE_HUGE"] {
  --ytmusic-play-button-size: 40px;
  --ytmusic-play-button-icon-size: 24px;
}
.thumbnail-overlay.ytmusic-two-row-item-renderer[content-position="MUSIC_ITEM_THUMBNAIL_OVERLAY_CONTENT_POSITION_CENTERED"] #content {
  align-items: end;
  justify-content: right;
  bottom: 12px;
  right: 12px;
}
ytmusic-play-button-renderer[size="MUSIC_PLAY_BUTTON_SIZE_HUGE"] .content-wrapper {
  background: rgba(0,0,0,0.6);
  opacity: 0;
}
ytmusic-item-thumbnail-overlay-renderer:hover ytmusic-play-button-renderer[size="MUSIC_PLAY_BUTTON_SIZE_HUGE"] .content-wrapper {
  opacity: 1;
}
ytmusic-play-button-renderer[size="MUSIC_PLAY_BUTTON_SIZE_HUGE"] .content-wrapper:hover {
  background: black;
}
ytmusic-play-button-renderer[size="MUSIC_PLAY_BUTTON_SIZE_HUGE"]:is([state="paused"], [state="playing"]) .content-wrapper {
  opacity: 1;
}

@media (max-width: 615px) {
  ytmusic-nav-bar:has(ytmusic-search-box[opened], [has-query]) .ytmusic-logo {
    display: none;
  }
}

/* ========================== SEARCH PAGE ========================== */
/* Tab Below Search */
.tab-container.ytmusic-tabs {
  box-shadow: none !important;
  background: transparent;
  border-bottom: 0;
}

.tab.ytmusic-tabs {
  color: var(--text-color-1);
}

.tab.selected.ytmusic-tabs {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

/* When Scrolled */
ytmusic-tabs.stuck {
  box-shadow: none !important;
  background: var(--layout-color);
  backdrop-filter: blur(var(--layout-blur));
}

/* Search Card */
yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  margin-top: 0px !important;
}

.immersive-background.ytmusic-card-shelf-renderer::before {
  background: transparent;
}

.undercards-container.ytmusic-card-shelf-renderer::before,
.card-content-container.ytmusic-card-shelf-renderer::before {
  background: var(--layout-color);
  border: var(--layout-border);
  backdrop-filter: blur(var(--layout-blur));
  border-radius: var(--radius-panel-big);
}

.undercards-container.ytmusic-card-shelf-renderer {
  padding: 20px;
  gap: 16px;
}

.thumbnail-container.ytmusic-card-shelf-renderer {
  border-radius: var(--radius-art-medium);
}

/* Radio Button */
.ytmusic-card-shelf-renderer .yt-spec-button-shape-next--outline {
  color: var(--accent);
  border-radius: var(--radius-button-alt);
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}

/* Divider */
ytmusic-responsive-list-item-renderer.ytmusic-shelf-renderer,
.ytmusic-playlist-shelf-renderer {
  border-bottom: 0 !important;
}

ytmusic-message-renderer {
  .text.ytmusic-message-renderer {
    color: var(--text-color-1) !important;
  }
  .yt-icon-shape {
    color: var(--icon);
  }
}

/* ========================== PLAYER PAGE ========================== */
ytmusic-app-layout:not([player-page-open]):not([is-mweb-player-bar-modernization-enabled]) > [slot=player-page] {
  transform: translate3d(0, 120vh,0);
}

/* Player Page Background Re-position */
ytmusic-app-layout:not([is-mweb-modernization-enabled]) > [slot=player-page] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: var(--ytmusic-nav-bar-height);
  padding-left: var(--ytmusic-guide-width);
  padding-bottom: var(--ytmusic-player-bar-height);
}

ytmusic-app-layout[player-fullscreened] > [slot=player-page] {
  padding: var(--ytmusic-nav-bar-height) 0 0;
}

ytmusic-player[player-ui-state="MINIPLAYER"] {
  bottom: calc(120vh + var(--ytmusic-player-bar-height) + var(--ytmusic-mini-player-spacing)) !important;
}

/* Tab */
tp-yt-paper-tab.ytmusic-player-page {
  color: var(--text-color-1);
}

tp-yt-paper-tab.iron-selected.ytmusic-player-page {
  color: var(--accent);
}

.selection-bar.tp-yt-paper-tabs {
  border-bottom: 1px solid var(--accent);
}

/* Queue */
ytmusic-player-queue-item {
  --ytmusic-player-queue-item-thumbnail-size: 42px !important;
  --ytmusic-list-item-height: 58px;
  border-radius: var(--radius-highlight);
  border: 0;
  opacity: 0.825;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    opacity: 1;
  }
}

.song-title.ytmusic-player-queue-item,
.subtitle.ytmusic-queue-header-renderer {
  color: var(--text-color-1);
}

.byline.ytmusic-player-queue-item {
  color: var(--text-color-2);
}

/* Small Buttons */
#chips a.yt-simple-endpoint.ytmusic-chip-cloud-chip-renderer  {
  background: var(--button-color);
  color: var(--text-color-1);
  border-radius: var(--radius-button);
  &:hover {
    background: var(--button-highlight);
  }
}

ytmusic-chip-cloud-chip-renderer[is-selected] a.ytmusic-chip-cloud-chip-renderer {
  background: var(--button-highlight) !important;
  color: var(--accent) !important;
  &:focus {
    background: var(--button-highlight);
  }
}

#buttons .yt-simple-endpoint {
  background: var(--button-color);
  color: var(--accent);
  border-radius: var(--radius-button-alt);
  .yt-icon-shape {
    color: var(--accent-icon);
  }
  &:hover {
    background: var(--button-highlight);
  }
}

/* Audio-Video Toggle */
.ytmusic-av-toggle {
  border-radius: var(--radius-button-alt) !important;
}

.av-toggle.ytmusic-av-toggle {
  background: var(--button-color);
  border: var(--button-border);
}

.song-button.ytmusic-av-toggle,
.video-button.ytmusic-av-toggle {
  background: transparent;
  color: var(--text-color-1);
}

.description.ytmusic-description-shelf-renderer {
  color: var(--text-color-1);
}

ytmusic-tab-renderer.ytmusic-player-page {
  margin-right: -10px;
}

/* ========================== PLAYER BAR ========================== */
ytmusic-player-bar {
  background: var(--layout-color);
  backdrop-filter: blur(var(--layout-blur));
}

#player-bar-background {
  backdrop-filter: none;
}

#layout[player-ui-state="PLAYER_PAGE_OPEN"] ytmusic-player-bar, #layout[player-ui-state="PLAYER_PAGE_OPEN"] #player-bar-background {
  background: transparent !important;
}

/* Progress Bar */
#primaryProgress.tp-yt-paper-progress {
  --paper-progress-active-color: var(--accent);
}

#progress-bar[focused],
ytmusic-player-bar:hover #progress-bar {
  --paper-slider-knob-color: var(--accent) !important;
  --paper-slider-knob-start-color: var(--accent) !important;
  --paper-slider-knob-start-border-color: var(--accent) !important;
}

#progress-bar.ytmusic-player-controls {
  --paper-slider-knob-start-color: var(--accent);
  --paper-slider-knob-start-border-color: var(--accent);
  --paper-slider-knob-color: var(--accent);
  --paper-slider-active-color: var(--accent);
}

#hover-time-info.ytmusic-player-bar {
  padding: 12px;
  border-radius: var(--radius-panel);
  background: var(--layout-contrast);
  color: var(--text-color-1);
  backdrop-filter: blur(var(--layout-blur));
  border: var(--layout-border);
}

/* Song Info */
.content-info-wrapper.ytmusic-player-bar .byline.ytmusic-player-bar {
  color: var(--accent);
  --yt-endpoint-color: var(--accent);
  --yt-endpoint-visited-color: var(--accent);
  --yt-endpoint-hover-color: var(--accent-hover);
}

.thumbnail-image-wrapper.ytmusic-player-bar,
.image.ytmusic-player-bar {
  display: block;
  border-radius: var(--radius-art);
}

.time-info.ytmusic-player-bar,
.duration.ytmusic-player-queue-item {
  color: var(--text-color-2);
}

/* Volume Control */
ytmusic-app {
  --ytmusic-player-bar-background: transparent;
  .volume-slider.ytmusic-player-bar,
  .expand-volume-slider.ytmusic-player-bar {
    --paper-slider-knob-color: var(--accent);
    --paper-slider-knob-start-color: var(--accent);
    --paper-slider-knob-start-border-color: var(--accent);
    --paper-slider-container-color: transparent;
  }
}

/* Podcast Player Bar */
tp-yt-paper-listbox.ytmusic-playback-rate-popup-renderer {
  border: var(--layour-border);
  --paper-listbox-background-color: transparent;
}

tp-yt-paper-item.ytmusic-playback-rate-popup-renderer {
  --ytmusic-menu-item-hover-background-color: var(--layout-highlight);
  color: var(--text-color-1);
  border-radius: var(--radius-highlight);
}

/* Icons */
.spinner-layer.tp-yt-paper-spinner-lite {
  color: var(--icon);
}

ytmusic-player-bar:not([repeat-mode="NONE"]),
ytmusic-player-controls:not([repeat-mode="NONE"]) {
  .repeat .yt-icon-shape {
    color: var(--accent-icon);
  }
}

ytmusic-player-bar[shuffle-on],
ytmusic-player-controls[shuffle-on] {
  .shuffle yt-icon,
  .expand-shuffle yt-icon {
    color: var(--accent-icon);
  }
}

ytmusic-player-bar:has(.volume-slider[value="0"]) {
  .volume yt-icon,
  .expand-volume yt-icon {
    color: var(--accent-icon);
  }
}

/* Hide Expand Button When Expanded */
ytmusic-player-bar:has(ytmusic-player-expanding-menu[aria-hidden="false"]) {
  .right-controls.ytmusic-player-bar .expand-button.ytmusic-player-bar,
  .playback-rate.ytmusic-player-bar {
    opacity: 0;
  }
}

@if $increment-skip-buttons == on {
  ytmusic-player-bar yt-icon-button[hidden],
  yt-icon-button.rewind-button {
    display: inline-flex !important;
  }
}

@if $centered-playback-controls == on {
  @media (min-width: 615px) {
    ytmusic-player-bar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "start middle end";
    }
    .left-controls.ytmusic-player-bar {
      grid-area: middle;
      justify-self: center;
      justify-content: center;
    }
    .middle-controls.ytmusic-player-bar {
      grid-area: start;
      justify-content: start;
      margin-left: 12px;
    }
    .time-info.ytmusic-player-bar {
      position: absolute;
      top: -18px;
      margin: 0px;
    }
    .spinner-container.ytmusic-player-bar {
      position: absolute;
      left: 0;
    }
  }
}

/* ========================== PANELS & MISC ========================== */
/* New Playlist Panel */
ytmusic-playlist-form {
  background: transparent;
  .yt-icon-shape {
    color: var(--icon);
  }
}

.label.ytmusic-dropdown-item-renderer {
  color: var(--text-color-1);
}

tp-yt-iron-input.tp-yt-paper-input>input.tp-yt-paper-input {
  color: var(--text-color-1);
}

.yt-list-item-view-model__title {
  color: var(--text-color-1);
}

ytmusic-dialog {
  box-shadow: var(--drop-shadow);
  background: var(--layout-color);
  backdrop-filter: blur(var(--layout-blur));
  border: var(--layout-border);
  border-radius: var(--radius-panel-big);
}

/* Underline */
.unfocused-line.tp-yt-paper-input-container {
  border-color: rgba(255, 255, 255, .4);
}

.focused-line.tp-yt-paper-input-container {
  border-color: var(--accent);
}

/* Toogle Button */
.ytSwitchShapeTrack {
  background: var(--button-color);
}

.ytSwitchShapeKnob {
  background: rgba(255, 255, 255, .3);
}

.ytSwitchShapeKnobActive {
  background: var(--accent);
}

/* Playlist Visibility Dropdown */
.dropdown-content.tp-yt-paper-menu-button {
  --yt-spec-brand-background-primary: transparent;
  background: var(--layout-color);
  box-shadow: var(--drop-shadow);
  backdrop-filter: blur(var(--layout-blur));
  border-radius: var(--radius-panel-big);
}

.ytmusic-playlist-form .dropdown-content.tp-yt-paper-menu-button {
  left: 12rem;
}

.dropdown-content.ytmusic-dropdown-renderer {
  background: transparent;
  backdrop-filter: blur(var(--layout-blur));
}

ytmusic-dropdown-item-renderer {
  background: transparent;
  border-radius: var(--radius-highlight);
  &:hover,
  &:focus {
    background: var(--layout-highlight);
  }
}

/* Item Pressed */
tp-yt-paper-item.ytmusic-dropdown-item-renderer:focus::before {
  background: transparent;
}

tp-yt-iron-icon.tp-yt-paper-dropdown-menu {
  color: var(--icon);
}

/* Add to Playlist */
tp-yt-paper-dialog[modern],
ytmusic-add-to-playlist-renderer {
  --yt-spec-brand-background-primary: transparent;
  background: var(--layout-color);
  backdrop-filter: blur(var(--layout-blur));
  box-shadow: var(--drop-shadow);
  border-radius: var(--radius-panel-big);
  border: var(--layout-border);
}

/* Divider */
.top-bar.ytmusic-add-to-playlist-renderer,
ytmusic-carousel-shelf-renderer.ytmusic-add-to-playlist-renderer:not(:empty) {
  border-bottom: 0;
}

/* Add to Option */
ytmusic-playlist-add-to-option-renderer {
  border-radius: var(--radius-highlight-big);
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}

#title.ytmusic-playlist-add-to-option-renderer {
  color: var(--text-color-1);
}

.thumbnail.ytmusic-playlist-add-to-option-renderer {
  border-radius: var(--radius-art);
}

/* Divider */
.top-bar.ytmusic-add-to-playlist-renderer,
ytmusic-carousel-shelf-renderer.ytmusic-add-to-playlist-renderer:not(:empty) {
  border-bottom: 0;
}

/* 3 Dot Menu */
tp-yt-iron-dropdown.ytmusic-popup-container {
  background: var(--layout-color);
  backdrop-filter: blur(var(--layout-blur));
  border-radius: var(--radius-panel-big);
  box-shadow: var(--drop-shadow);
  border: var(--layout-border);
  overflow: hidden;
}

tp-yt-paper-listbox.ytmusic-menu-popup-renderer {
  --paper-listbox-background-color: transparent;
  border: 0;
}

tp-yt-paper-listbox#items yt-formatted-string {
  color: var(--text-color-1);
}

.ytmusic-menu-popup-renderer {
  border-radius: var(--radius-highlight);
  overflow: hidden;
  --ytmusic-menu-item-hover-background-color: var(--layout-highlight);
}

/* User Dropdown */
.ytmusicMultiPageMenuRendererHost {
  --yt-spec-call-to-action: var(--accent);
  --yt-endpoint-hover-color: var(--accent-hover);
  --yt-spec-outline: transparent;
  background: transparent;
}

ytd-simple-menu-header-renderer {
  background: transparent;
}

ytd-compact-link-renderer {
  --yt-compact-link-icon-color: var(--icon);
  border-radius: var(--radius-highlight);
  &:hover {
    background: var(--layout-highlight) !important;
  }
}

tp-yt-paper-item:focus:before {
  border-radius: var(--radius-highlight);
}

ytd-account-item-renderer {
  --yt-spec-text-primary: var(--accent);
  border-radius: var(--radius-highlight-big);
}

#email.ytd-google-account-header-renderer {
  color: var(--text-color-2);
}

yt-formatted-string.ytd-account-item-renderer[secondary] {
  color: var(--text-color-2);
}

/* Settings */
ytmusic-setting-category-collection-renderer.ytmusic-settings-page {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.category-menu-item.iron-selected.ytmusic-settings-page,
.category-menu-item.ytmusic-settings-page:focus:not(.iron-selected) {
  background: var(--layout-highlight);
  border-radius: var(--radius-highlight);
}

.dropdown-content.ytmusic-setting-single-option-menu-renderer {
  background: transparent;
}

/* Divider */
.top-bar.ytmusic-settings-page,
.items .ytmusic-setting-category-collection-renderer {
  border-bottom: 0 !important;
}

/* Toggle Buttons */
.toggle-bar.tp-yt-paper-toggle-button {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.5;
}

.toggle-button.tp-yt-paper-toggle-button {
  background: rgb(180, 180, 180);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

tp-yt-paper-toggle-button[checked]:not([disabled]) {
  .toggle-bar.tp-yt-paper-toggle-button,
  .toggle-button.tp-yt-paper-toggle-button {
    background: var(--accent);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

/* "Recently Played" Button */
button.ytmusic-sort-filter-button-renderer {
  color: var(--text-color-1);
  border: var(--button-border);
  border-radius: var(--radius-button-alt);
  background: var(--button-color);
}

ytmusic-multi-select-menu-item-renderer {
  border-radius: var(--radius-highlight);
  &:hover {
    background: var(--layout-highlight);
  }
}

#container.ytmusic-multi-select-menu-renderer {
  background: transparent;
  border: 0;
}

#items.ytmusic-multi-select-menu-renderer {
  background: transparent;
}

#title.ytmusic-multi-select-menu-renderer {
  border: 0;
}

ytmusic-background-promo-renderer {
  background: transparent;
  .yt-icon-shape {
    color: var(--icon);
  }
}

/* Popup Message */
tp-yt-paper-toast,
tp-yt-paper-toast.yt-notification-action-renderer,
#toast.ytmusic-notification-text-renderer {
  background: var(--layout-color);
  border-radius: var(--radius-panel);
  border: var(--layout-border);
  box-shadow: var(--drop-shadow);
  backdrop-filter: blur(var(--layout-blur));
}

#text.yt-notification-action-renderer,
#sub-text.yt-notification-action-renderer {
  color: var(--text-color-1);
}

.yt-spec-button-shape-next--call-to-action-inverse.yt-spec-button-shape-next--text {
  color: var(--accent);
  &:hover {
    background: var(--button-highlight);
  }
}

/* Playlist Page */
ytmusic-play-button-renderer.ytmusic-responsive-header-renderer {
  background: var(--button-color) !important;
  &:hover {
    background: var(--button-highlight) !important;
  }
}

.ytmusic-responsive-header-renderer a.ytmusic-toggle-button-renderer:hover {
  background: var(--button-highlight);
}

/* Song select Dialog */
ytmusic-multi-select-menu-bar {
  background: transparent;
}

#tooltip {
  background: var(--layout-contrast);
  border-radius: var(--radius-panel);
}

/* Playlist Visibility Dialog */
.yt-spec-dialog-layout {
  background: transparent;
}

.yt-radio-shape__label-container {
  color: var(--text-color-1);
}

.ytDialogHeaderViewModelText {
  color: var(--text-color-1);
}

.ytRadioButtonItemViewModelSubText {
  color: var(--text-color-2);
}

/* Collaborate Container */
#header.ytmusic-engagement-panel-title-header-renderer,
#content.ytmusic-engagement-panel-section-list-renderer {
  background: transparent;
}

.yt-list-item-view-model__container--tappable {
  border-radius: var(--radius-highlight-big);
  &:hover {
    background: var(--layout-highlight);
  }
}

ytmusic-download-playlist-button-renderer,
#action-buttons yt-button-renderer.ytmusic-responsive-header-renderer,
ytmusic-menu-renderer.ytmusic-responsive-header-renderer {
  width: 40px;
  height: 40px;
  background: var(--button-color) !important;
}

#action-buttons .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text:hover {
  background: var(--button-highlight);
}

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
  color: var(--accent);
  background: var(--button-color);
  border: var(--button-border);
  &:hover {
    background: var(--button-highlight);
    border: var(--button-border);
  }
}

/* Bookmark Button */
yt-icon-button.ytmusic-toggle-button-renderer {
  --yt-button-icon-size: 40px;
}

ytmusic-section-list-renderer[main-page-type="MUSIC_PAGE_TYPE_PODCAST_SHOW_DETAIL_PAGE"] {
  --ytmusic-responsive-header-primary-button-height: 40px;
}

tp-yt-paper-button.ytmusic-toggle-button-renderer {
  width: 40px;
  height: 40px;
}

ytmusic-menu-renderer.ytmusic-responsive-header-renderer .yt-spec-button-shape-next {
  width: 40px;
  height: 40px;
}

/* Share Container */
#start-at-wrapper {
  --paper-input-container-disabled-opacity: 0.65;
}

#bar.yt-copy-link-renderer {
  background: var(--layout-contrast);
  border: var(--layout-border);
}

#checkbox.tp-yt-paper-checkbox {
  border-color: var(--button-color);
  background: var(--button-color);
  --paper-checkbox-checked-color: var(--button-color);
}

#checkmark.tp-yt-paper-checkbox {
  border-color: var(--icon);
}

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--filled {
  color: var(--accent);
  background: var(--button-color);
  border-radius: var(--radius-button-alt);
  &:hover {
    background: var(--button-highlight);
  }
}

.scroll-button.yt-third-party-share-target-section-renderer {
  background: var(--button-color);
  backdrop-filter: blur(var(--layout-blur));
  box-shadow: none;
  .yt-icon-shape {
    color: var(--icon);
  }
}

yt-formatted-string.yt-start-at-renderer {
  color: var(--text-color-2);
}

/* Explore Page */
ytmusic-navigation-button-renderer.ytmusic-grid-renderer button.ytmusic-navigation-button-renderer {
  background: var(--button-color);
  border-radius: var(--radius-button-alt);
  &:focus-within,
  &:hover {
    background: var(--button-highlight);
  }
  .yt-icon-shape {
    color: var(--icon);
  }
}

ytmusic-navigation-button-renderer.ytmusic-carousel button.ytmusic-navigation-button-renderer {
  background: var(--button-color);
  border-radius: var(--radius-button);
  &:focus-within,
  &:hover {
    background: var(--button-highlight);
  }
}

tp-yt-paper-listbox.yt-dropdown-menu {
  background: transparent;
  .iron-selected.yt-dropdown-menu,
  tp-yt-paper-item.yt-dropdown-menu:hover {
    background: var(--layout-highlight);
    border-radius: var(--radius-highlight);
  }
}

yt-card-item-container-renderer {
  border: 0;
}

/* ========================== ARTIST PAGE ========================== */
ytmusic-immersive-header-renderer {
  background: var(--ytmusic-app);
}

ytmusic-immersive-header-renderer .image {
  margin-left: 0 !important;
  opacity: 0.8;
  filter: brightness(0.95);
}

.description.ytmusic-immersive-header-renderer {
  color: var(--text-color-1);
}

ytmusic-toggle-button-renderer yt-formatted-string.ytmusic-toggle-button-renderer {
  color: var(--accent);
}

ytmusic-immersive-header-renderer[is-description-expanded] .image {
  filter: brightness(0.55);
}

/* Artist Header */
.image.ytmusic-immersive-header-renderer {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100%;
}

.ytmusic-browse-response .content-container-wrapper,
.content-container-wrapper .gradient-container {
  background: transparent !important;
}

/* Sub Button */
ytmusic-subscribe-button-renderer {
  --ytmusic-subscribe-button-outline-color: transparent;
  --ytmusic-subscribe-button-color: var(--accent);
  background: rgb(from var(--accent) r g b / 0.2);
  border-radius: var(--radius-button-alt);
  backdrop-filter: blur(var(--layout-blur));
  border: var(--button-border);
  &:hover {
    background: rgb(from var(--accent) r g b / 0.4);
  }
}

ytmusic-subscribe-button-renderer[is-subscribed] {
  --ytmusic-subscribe-button-outline-color: transparent;
  --ytmusic-subscribe-button-color: var(--text-color-1);
  background: var(--button-color);
  backdrop-filter: blur(var(--layout-blur));
  border: var(--button-border);
  &:hover {
    background: var(--button-highlight);
  }
}

/* Unsub Confirm */
yt-confirm-dialog-renderer[dialog][dialog][dialog] {
  --ytd-user-comment-color: white;
  background: transparent;
}
ytmusic-popup-container tp-yt-paper-dialog.ytmusic-popup-container[role=dialog] {
  outline: none !important;
}

/* Shuffle and Radio Button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
  color: var(--accent);
  background: var(--button-color);
  backdrop-filter: blur(var(--layout-blur));
  border: var(--button-border);
  border-radius: var(--radius-button-alt);
  &:hover {
    background: var(--button-highlight);
    border: var(--button-border);
  }
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}

/* User Page */
ytmusic-subscribe-button-renderer.ytmusic-visual-header-renderer {
  background: none
}

/* ========================== PODCAST ========================== */
ytmusic-player-page[player-fullscreened] ytmusic-description-shelf-renderer {
  display: none;
}

ytmusic-multi-row-list-item-renderer[is-detailed-view] {
  --ytmusic-list-item-height: 182px;
  --ytmusic-multi-row-list-item-thumbnail-size: 80px;
}

/* Podcast Header */
ytmusic-visual-header-renderer[has-banner-image] .gradient-container.ytmusic-visual-header-renderer {
  background: transparent;
}

.image.ytmusic-visual-header-renderer {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100%;
}

/* Podcast Hover */
.thumbnail-wrapper.ytmusic-multi-row-list-item-renderer {
  position: relative;
  border-radius: var(--radius-art);
}

ytmusic-multi-row-list-item-renderer.ytmusic-shelf-renderer .thumbnail-overlay {
  aspect-ratio: 16 / 9;
  top: auto;
  bottom: auto;
  height: auto;
}

.menu.ytmusic-multi-row-list-item-renderer {
  background: transparent !important;
}

ytmusic-responsive-header-renderer ytmusic-toggle-button-renderer.ytmusic-responsive-header-renderer {
  background: var(--button-color) !important;
  border: var(--button-border) !important;
}

/* Podcast Focused */
ytmusic-multi-row-list-item-renderer[play-button-state] {
  border-radius: var(--radius-highlight-big);
}

ytmusic-multi-row-list-item-renderer.ytmusic-shelf-renderer {
  border-bottom: 0 !important;
}

/* Progress Bar */
.foreground-bar.ytmusic-playback-progress-renderer {
  background: var(--accent);
}

.subtitle.ytmusic-multi-row-list-item-renderer {
  color: var(--text-color-2);
}

/* ========================== MOBILE VIEW ========================== */
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel::before {
  content: "";
  position: fixed;
  inset: -5rem;
  background: if($background == dynamic, var(--blyrics-background-img), $background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -50;
  opacity: 1;
  filter: blur(30px) brightness(var(--bg-brightness));
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state] #side-panel.ytmusic-player-page {
  height: 100vh;
  background: transparent;
}

ytmusic-player-page #top-player-bar {
  background: transparent;
  z-index: 1;
  backdrop-filter: none;
}

@media (max-width: 615px) {
  .blyrics-container:before,
  .blyrics-container:after {
    opacity: 0;
  }

  /* Overlay Over Lyrics Background */
  #tab-renderer {
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
  }
}

.play-pause-button-wrapper.ytmusic-player-controls {
  color: transparent;
  background: transparent;
  transform: scale(1.2);
}

.next-button.ytmusic-player-controls,
.previous-button.ytmusic-player-controls,
.shuffle.ytmusic-player-controls,
.repeat.ytmusic-player-controls {
  color: transparent;
  background: transparent !important;
}

/* Lyrics Tab Opening Transition */
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel {
  transform: none !important;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state="TABS_VIEW"] {
  .av, #info-panel, #player-controls, .collapse-button, .context-menu-button {
    opacity: 0;
  }
}

ytmusic-player-page[player-page-ui-state="TABS_VIEW"] #thumbnail > img {
  border-radius: calc(var(--radius-art) * 10);
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state="TABS_VIEW"] #music-player-wrapper {
  transform: translateY(6.5rem);
}

/* ========================== BETTER LYRICS ========================== */
#blyrics-loader {
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding-top 0.5s ease-in-out;
}
#blyrics-song-info p {
  font-family: $font;
  font-weight: $font-weight !important;
}

.blyrics-footer {
  opacity: 0;
  transition: opacity 0.7s var(--fade-timing);
  &:hover {
    opacity: 1;
    transition: opacity 0.3s var(--fade-timing);
  }
}
.blyrics-footer__discord,
.autoscroll-resume-button,
.blyrics-footer__container {
  background: var(--button-color);
  border: var(--layout-border);
  backdrop-filter: blur(var(--layout-blur));
}
.autoscroll-resume-button {
  border-radius: var(--radius-button);
}
.blyrics-footer__container {
  border-radius: var(--radius-button-alt);
}

@if $unified-artists-lines == on {
  .blyrics--line[data-agent="v2"],
  .blyrics--line[data-agent="v3"],
  .blyrics--line[data-agent="v1000"] {
    justify-content: start;
    transform-origin: left center !important;
  }
}

@if $small-video == on {
  :root {
    --blyrics-fullscreen-video-panel-size: 58%;
  }
  #side-panel {
    min-width: 50%;
  }
  ytmusic-player[player-ui-state="FULLSCREEN"] {
    position: relative !important;
  }
  ytmusic-player-page:not([is-mweb-modernization-enabled])[video-mode] .side-panel.ytmusic-player-page {
    margin: 0 0 0 var(--ytmusic-player-page-content-gap);
  }
}

@if $no-lyrics-centered-player {
  ytmusic-player-page[player-fullscreened]:not([blyrics-video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #main-panel {
    transform: translateX(calc(50vw - 50% - var(--ytmusic-guide-width) - var(--ytmusic-player-page-horizontal-padding)));
    transition: transform var(--no-lyrics-duration) var(--no-lyrics-timing);
    transition-delay: var(--no-lyrics-slide-delay);
  }
  ytmusic-player-page[player-fullscreened][blyrics-video-mode]:not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #main-panel {
    transform: translateX(calc(50vw - 50% - var(--ytmusic-guide-width) - var(--ytmusic-player-page-horizontal-padding) / 2));
    transition: transform var(--no-lyrics-duration) var(--no-lyrics-timing);
    transition-delay: var(--no-lyrics-slide-delay);
  }
  ytmusic-player-page[player-fullscreened]:not([blyrics-video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #player {
    max-width: calc(var(--album-art-size) + 100px) !important;
    transition: max-width var(--no-lyrics-duration) var(--no-lyrics-timing);
    transition-delay: var(--no-lyrics-slide-delay);
  }
  ytmusic-player-page[player-fullscreened]:not([blyrics-dfs]) #blyrics-wrapper:has(.blyrics-container[data-no-lyrics="true"]) {
    transition: opacity var(--no-lyrics-duration) var(--no-lyrics-timing);
    transition-delay: var(--no-lyrics-slide-delay);
  }
} @else {
  ytmusic-player-page[player-fullscreened] #main-panel {
    transform: none !important;
    transition: none;
  }
  ytmusic-player-page[player-fullscreened]:not([blyrics-video-mode]):not([blyrics-dfs]):has(.blyrics-container[data-no-lyrics="true"]) #player {
    max-width: var(--album-art-size) !important;
    transition: none;
  }
}

/* ========================== ANIMATIONS ========================== */
@mixin fade($prop, $dur) {
  transition: #{$prop} #{$dur} var(--fade-timing);
}

@if $player-page == on {
  ytmusic-app-layout[player-page-open][is-mweb-player-bar-modernization-enabled] > [slot=player-page] {
    animation: open-playerpage var(--player-page-duration) var(--player-page-timing);
  }
  ytmusic-app-layout:not([player-page-open])[is-mweb-player-bar-modernization-enabled] > [slot=player-page] {
    animation: collapse-playerpage var(--player-page-duration) var(--player-page-timing);
  }
  ytmusic-player-page[mini-player-enabled][player-page-open] #player.ytmusic-player-page {
    animation: mp-grow 0.75s cubic-bezier(0.3, 0.6, 0.5, 1);
  }
  ytmusic-player-page[mini-player-enabled]:not([player-page-open]) #player.ytmusic-player-page {
    animation: mp-shrink 1s cubic-bezier(0.5, 0.6, 0.5, 1);
  }

  @keyframes open-playerpage {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes collapse-playerpage {
    0% {
      transform: translateY(0);
    }
    38% {
      opacity: 1;
    }
    100% {
      transform: translateY(120vh);
      opacity: 0;
    }
  }
  @keyframes mp-grow {
    0% {
      transform: translate3d(60%, 0, 0) scale(0.2);
      opacity: 0
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1
    }
  }

  @keyframes mp-shrink {
    0% {
      transform: scale(1.7);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }
  }

  ytmusic-player-page[is-mweb-modernization-enabled]:not([player-fullscreened]) #player.ytmusic-player-page {
    transition: transform 0.65s var(--player-page-timing);
  }
  ytmusic-player-page[is-mweb-modernization-enabled][transition-mode] #side-panel {
    transition: transform 0.65s var(--player-page-timing);
  }
  ytmusic-player-page[player-page-ui-state="TABS_VIEW"] #thumbnail > img {
    transition: border-radius 0.3s ease-out;
  }

  ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state="TABS_VIEW"] #music-player-wrapper {
    transition: transform 0.3s ease-in-out;
  }
  ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state="TABS_VIEW"] {
    .av, #info-panel, #player-controls, .collapse-button, .context-menu-button {
      transform: translateY(var(--ytmusic-player-page-player-bar-height));
      transition: opacity 0.3s ease-out, transform 0.3s ease-out;
      will-change: opacity, transform;
    }
  }

  ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state="FULL_PLAYER_VIEW"] {
    .av, #info-panel, #player-controls, .collapse-button, .context-menu-button {
      transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    }
  }
} @else {
  ytmusic-player-page[mini-player-enabled] #player {
    animation: none !important;
  }
  ytmusic-player-page[is-mweb-modernization-enabled] #player {
    transition: none !important;
  }
  ytmusic-player-page[is-mweb-modernization-enabled][transition-mode] #side-panel {
    transition: none;
  }
  ytmusic-player-page[is-mweb-modernization-enabled][transition-mode] #top-player-bar {
    transition: none !important;
  }
}

@if $fade == on {
  /* CTA */
  a.yt-simple-endpoint.yt-formatted-string {
    @include fade(color, var(--fade-duration));
  }

  /* BIG SONG LIST */
  ytmusic-play-button-renderer .content-wrapper.ytmusic-play-button-renderer {
    @include fade(background, var(--fade-duration));
  }

  ytmusic-background-overlay-renderer {
    @include fade(opacity, var(--fade-duration));
  }

  ytmusic-menu-renderer {
    @include fade(opacity, var(--fade-duration));
  }

  /* SMALL SONG LIST */
  ytmusic-item-thumbnail-overlay-renderer {
    @include fade(opacity, var(--fade-duration));
  }
  ytmusic-responsive-list-item-renderer[play-button-state] {
    @include fade(background, var(--fade-duration-alt));
  }

  /* 3 Dots */
  ytmusic-responsive-list-item-renderer > ytmusic-menu-renderer {
    opacity: 0;
    @include fade(opacity, var(--fade-duration));
  }
  ytmusic-responsive-list-item-renderer:hover > ytmusic-menu-renderer {
    opacity: 1;
  }

  /* Play Buttons */
  ytmusic-responsive-list-item-renderer .content-wrapper .yt-icon-shape {
    @include fade(color, var(--fade-duration));
  }

  yt-checkbox-renderer {
    @include fade(opacity, var(--fade-duration));
  }

  /* NAV BAR */
  .ytmusic-guide-entry-renderer {
    @include fade(opacity, var(--fade-duration));
  }

  yt-icon-button.ytmusic-nav-bar {
    @include fade(background, var(--fade-duration));
  }

  #tabs.ytmusic-tabbed-search-results-renderer {
    transition: background var(--fade-duration) var(--fade-timing),
    backdrop-filter var(--fade-duration) var(--fade-timing);
  }
  /* When Scrolled */
  ytmusic-tabs.stuck {
    transition: background var(--fade-duration) var(--fade-timing),
    backdrop-filter var(--fade-duration) var(--fade-timing);
  }

  /* PLAYER BAR */
  ytmusic-player-bar.ytmusic-app {
    transition: background var(--fade-duration) var(--fade-timing),
    bottom 0.5s;
  }

  ytmusic-player-bar yt-icon-button.ytmusic-player-bar {
    border-radius: 50%;
    @include fade(background, var(--fade-duration));
  }

  .yt-spec-button-shape-next {
    @include fade(background, var(--fade-duration));
  }

  tp-yt-paper-item.ytmusic-playback-rate-popup-renderer {
    @include fade(background, var(--fade-duration));
  }

  /* PLAYER PAGE */
  .av.ytmusic-player-page {
    @include fade(opacity, var(--fade-duration));
  }

  .song-media-controls.ytmusic-player {
    @include fade(opacity, var(--fade-duration));
  }

  tp-yt-paper-tab.ytmusic-player-page {
    @include fade(color, var(--fade-duration));
  }

  .blyrics-footer__discord,
  .autoscroll-resume-button,
  .blyrics-footer__container {
    transition: background var(--fade-duration) var(--fade-timing),
    opacity var(--fade-duration) var(--fade-timing);
  }

  /* QUEUE */
  ytmusic-player-queue-item {
    transition: background var(--fade-duration-alt) var(--fade-timing),
    opacity var(--fade-duration-alt) var(--fade-timing);
  }

  ytmusic-player-queue-item > yt-formatted-string {
    display: block !important;
    @include fade(opacity, var(--fade-duration));
  }

  ytmusic-player-queue-item:not([is-automix]):hover > yt-formatted-string {
    opacity: 0;
    pointer-events: none;
  }

  /* 3 Dots In Queue */
  ytmusic-player-queue-item yt-button-shape {
    transform: translatex(36px);
    opacity: 1;
    @include fade(opacity, var(--fade-duration-alt));
  }

  /* DROPDOWN */
  ytmusic-dropdown-item-renderer {
    @include fade(background, var(--fade-duration));
  }

  ytmusic-playlist-add-to-option-renderer {
    @include fade(background, var(--fade-duration));
  }

  .ytmusic-menu-popup-renderer {
    @include fade(background, var(--fade-duration));
  }

  ytd-compact-link-renderer {
    @include fade(background, var(--fade-duration));
  }

  ytd-account-item-renderer {
    @include fade(background, var(--fade-duration));
  }

  /* "Recently Played" Button */
  ytmusic-multi-select-menu-item-renderer {
    @include fade(background, var(--fade-duration));
  }

  /* BUTTONS */
  ytmusic-chip-cloud-chip-renderer a {
    @include fade(background, var(--fade-duration));
  }

  ytmusic-subscribe-button-renderer {
    @include fade(background, var(--fade-duration));
  }

  ytmusic-play-button-renderer {
    transition: background var(--fade-duration) var(--fade-timing),
    opacity var(--fade-duration) var(--fade-timing);
  }

  button.ytmusic-navigation-button-renderer {
    @include fade(background, var(--fade-duration));
  }

  /* SETTING */
  .category-menu-item.ytmusic-settings-page {
    @include fade(background, var(--fade-duration));
  }

  /* i forgot */
  yt-icon-button.ytmusic-carousel-shelf-renderer {
    transition: background var(--fade-duration) var(--fade-timing) !important;
  }
  .yt-list-item-view-model__container--tappable {
    @include fade(background, var(--fade-duration));
  }
  .yt-simple-endpoint {
    @include fade(background, var(--fade-duration));
  }
} @else {
  .song-media-controls.ytmusic-player {
    transition: none;
  }
  button.ytmusic-navigation-button-renderer {
    transition: none;
  }
}

@if $play-button == on {
  #play-button .content-wrapper.ytmusic-play-button-renderer {
    transition: opacity var(--fade-duration) var(--fade-timing),
    background var(--fade-duration) var(--fade-timing),
    transform var(--play-button-duration) var(--play-button-timing);
    &:hover {
      transform: scale(1.2);
    }
  }
  .play-pause-button-wrapper.ytmusic-player-controls {
    will-change: transform;
    transition: transform var(--play-button-duration) var(--play-button-timing);
    &:hover {
      transform: scale(1.4);
    }
  }
  .next-button.ytmusic-player-controls,
  .previous-button.ytmusic-player-controls,
  .shuffle.ytmusic-player-controls,
  .repeat.ytmusic-player-controls {
    will-change: transform;
    transition: transform var(--play-button-duration) var(--play-button-timing);
    &:hover {
      transform: scale(1.2);
    }
  }
} @else {
  #play-button .content-wrapper.ytmusic-play-button-renderer {
    transform: scale(1);
    transition: none;
  }
}

@if $search-bar == on {
  ytmusic-search-box .ytmusic-search-box::placeholder {
    transition: color var(--search-bar-duration) var(--search-bar-timing);
  }
  ytmusic-search-box .search-container.ytmusic-search-box {
    transition: box-shadow var(--search-bar-duration) var(--search-bar-timing);
  }
  ytmusic-search-box #suggestion-list {
    transition: var(--search-bar-duration) var(--search-bar-timing);
  }
  ytmusic-search-suggestion {
    transition: background var(--search-bar-duration) var(--search-bar-timing);
  }
}

@if $sliding-drawer == on {
  #content-wrapper.ytmusic-browse-response {
    transition: margin var(--silding-duration) var(--sliding-timing);
  }
  ytmusic-search-page {
    transition: padding var(--silding-duration) var(--sliding-timing);
  }
  ytmusic-nav-bar[is-bauhaus-sidenav-enabled] .center-content.ytmusic-nav-bar {
    transition: padding var(--silding-duration) var(--sliding-timing),
    margin var(--silding-duration) var(--sliding-timing);
  }
  #contentContainer.tp-yt-app-drawer {
    width: 256px !important;
    transition: transform var(--silding-duration) var(--sliding-timing);
    transition-duration: var(--silding-duration) !important;
  }
  #guide-wrapper {
    transition: width var(--silding-duration) var(--sliding-timing);
  }
  tp-yt-app-drawer {
    transition-duration: var(--silding-duration) !important;
  }
  ytmusic-app-layout:not([is-mweb-modernization-enabled]) #mini-guide {
    display: unset !important;
    opacity: 0;
    transition: opacity var(--silding-duration) var(--sliding-timing);
  }
  ytmusic-app[is-guide-persistent][guide-collapsed] #mini-guide {
    opacity: 1;
    transition: opacity var(--silding-duration) var(--sliding-timing);
  }
  #layout[player-fullscreened] #mini-guide {
    display: none !important;
  }
  ytmusic-immersive-header-renderer .gradient-container,
  ytmusic-visual-header-renderer .content-container {
    transition: padding var(--silding-duration) var(--sliding-timing);
  }
}

ytmusic-player-page {
  @if $sliding-drawer == on and $player-page == on {
    transition: transform var(--player-page-duration) var(--player-page-timing),
    padding var(--silding-duration) var(--sliding-timing),
    height var(--silding-duration) var(--sliding-timing) !important;
  } @else if $sliding-drawer == on {
    transition: padding var(--silding-duration) var(--sliding-timing) !important;
  } @else if $player-page == on {
    transition: transform var(--player-page-duration) var(--player-page-timing) !important;
  } @else {
    transition: none !important;
  }
}

.toggle-player-page-button {
  @if $fade == on and $player-page == on {
    transition: background var(--fade-duration) var(--fade-timing),
    transform var(--player-page-duration) var(--player-page-timing) !important;
  } @else if $fade == on {
    transition: background var(--fade-duration) var(--fade-timing) !important;
  } @else if $player-page == on {
    transition: transform var(--player-page-duration) var(--player-page-timing) !important;
  } @else {
    transition: none !important;
  }
}

@if $smooth-progress-bar == on {
  #primaryProgress.tp-yt-paper-progress,
  #secondaryProgress.tp-yt-paper-progress {
    transition: transform 1s linear;
  }
  ytmusic-app-layout[is-mweb-modernization-enabled][player-ui-state="PLAYER_PAGE_OPEN"] .slider-knob.tp-yt-paper-slider,
  ytmusic-app-layout:not([is-mweb-modernization-enabled]) .slider-knob.tp-yt-paper-slider:not(.dragging) {
    transition: left 1s linear;
  }
}

@if $extra-animations == on {
  ytmusic-immersive-header-renderer .description {
    transition: max-height 0.65s ease-in-out !important;
    -webkit-line-clamp: unset !important;
  }
  ytmusic-immersive-header-renderer .image {
    transition: filter 0.5s ease;
  }
}
